.footer {
    height: 3em;
    padding: 0.8em 10em;
    color: #EEEEEE;
    background-color: #363636;
}
#contant{
    width: 100%;
    padding: 0px 30px;
    margin: 0px auto;
}
.description{
    margin: 22px 14px 42px 1px;
    padding: 0px 10px 80px 20px;
    border-left: 4px solid #bcdeff;
}

th {
   /* color: white;*/
    /*border-bottom: 3px solid #c7c7c7;*/
    background-color: #e5f6d0;

}
/*
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 5px;
}*/

.table-condensed>thead>tr>th,
.table-condensed>thead>tr>td{
    border-bottom: 3px solid #c7c7c7;
    padding: 10px 14px;
}
.table-condensed>tbody>tr>th,
.table-condensed>tbody>tr>td{
    padding: 5px 10px;
}
.table-condensed>tbody>tr>td>a{
    padding: 5px 0px !important;
    text-decoration: none !important;
}

.clear{clear:both;}/* clear float */

.arrow_edit{
    float: left;
    padding: 12px 4px 24px 0;
}
.arrow_edit a{
    font-size: small;
    text-decoration: underline;
}
.bigtree a{
    color: #575757;
}
.cat-select {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 1200px){
    .bigtree a{
        font-size: 0.8em;
    }
    .td-1{
        display: none;
    }
    .td-2{
     color: #005000;
     white-space: normal !important;
     display: block;
     width: 200px;

    }
}

.cat-select-over{
    position: relative;
    height: 4em;
}
.cat-select{
    position: absolute;
    top: 0;
    left: 0;
}

.capton01{
    display: flex;
    flex-flow: column wrap;
}

.butt2 {

    background-color:transparent;
    border:none;
    color: #5499d5;
}